html{
	background-color: #101010;
	font-family: sans-serif;
    padding: 0;
}

body{
    margin: 0;
    padding: 1em;
}

#verticalPortfolioContainer {
    background-color: #202020;
    color: white;
	max-width: 60em;
	display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 32px rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    padding: 2em;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 1em;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
}

h3 {
    font-size: 2em;
    color: peru;
    /* text-decoration: underline; */
    margin-left: 20px;
    margin-bottom: 1em;
}

h4 {
    font-size: 1.5em;
    font-weight: normal;
    color: peru;
    /* text-decoration: underline; */
    margin-left: 20px;
    margin-top: 2em;
}

#headerPortfolioLink, #headerPortfolioLink:hover, #headerPortfolioLink:visited, #headerPortfolioLink:active {
    color: inherit;
}

a {
    /* color: #3394ff;  */
    /* color: orange */
    color: peru
}

a:visited {
    /* color: #0b7af5; */
    color: peru
}

a:hover {
    /* color: ivory; */
    color: white
}

#portfolioHeader {
    margin-left: 1em;
    margin-right: 1em;
}

#portfolioHeaderBodySeparator, .portfolioPageSeparator {
    margin-top: 2em;
    margin-bottom: 2em;
}

#portfolioBody {
    margin-left: 1em;
    margin-right: 1em;
}

.portfolioPageLinkBox {
    position: relative;
    width: 100%;
    height: 5em;
    margin-bottom: 1em;

    border-color: rgba(255, 255, 255, 0.5);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.portfolioPageLinkBoxOverlayTint {
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    transition: 50ms ease-in-out;
}

.portfolioPageLinkBoxOverlayTint:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: 50ms ease-in-out;
}

.portfolioPageLink {
    text-decoration: none;
    text-shadow: 2px 2px 5px black;
}

.portfolioPageLinkYear {
    font-size: 250%;
    /* opacity: 0.5; */
    position: absolute;
    top: 16px;
    right: 8px;
}

.portfolioPageLinkTitle {
    position: relative;
    left: 10px;
    top: 12px;
    font-size: 133%;
}

.portfolioPageLinkMiniDescription {
    position: absolute;
    left: 20px;
    bottom: 16px;
    /* opacity: 0.5; */
}

.horizontallyCenterChild {
    display: flex;
    justify-content: center;
}

.portfolioTextElement {
    line-height: 150%;
    text-align: justify;
}

.portfolioMediaContainer {
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.portfolioMedia {
    border: 1px solid color-mix(in srgb, peru, transparent);
    max-height: 320px;
    max-width: 90%;
    margin: 8px;
}

.portfolioMediaSubtext {
    /* color: rgba(255, 255, 255, 0.5); */
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0;
    font-style: italic;
    /* font-size: 80%;
    font-weight: bold; */
}

.portfolioProjectInfoTable {
    margin-left: 2em;
}

.portfolioProjectInfoTableLabel {
    font-weight: normal;
    text-align: left;
    vertical-align: top;
    color: peru;
    padding: 4px;
    padding-right: 2em;
}

.portfolioProjectInfoTableContent {
    padding: 4px;
}

.portfolioProjectInfoTableContentList {
    margin: 0;
    padding-left: 15px;
}

.portfolioProjectInfoTableContentListItem {
    margin: 0;
}

.portfolioCodeContainer {
    border: 1px solid grey;
    border-radius: 4px;
    background-color: color-mix(in srgb, black, transparent);
    padding: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}

.portfolioCodeParagraph {
    font-family: monospace;
    color: grey;
    margin: 0;
    white-space: preserve;
}