html{
	background-color: #101010;
	font-family: sans-serif;
    padding: 0;
}

body{
    margin: 0;
    padding: 1em;
    padding-left: 4em;
    padding-right: 4em;
}

#verticalPortfolioContainer {
    background-color: #202020;
    color: white;
	max-width: 60em;
    min-width: 36em;
	display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 32px rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    padding: 2em;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 1em;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
}

h3 {
    font-size: 2em;
    color: peru;
    margin-left: 20px;
    margin-bottom: 1em;
}

h4 {
    font-size: 1.5em;
    font-weight: normal;
    color: peru;
    margin-left: 20px;
    margin-top: 2em;
}

#headerPortfolioLink, #headerPortfolioLink:hover, #headerPortfolioLink:visited, #headerPortfolioLink:active {
    color: inherit;
}

a, a:visited {
    color: peru
}

a:hover {
    color: white
}

#portfolioHeader {
    margin-left: 1em;
    margin-right: 1em;
}

#portfolioHeaderBodySeparator, .portfolioPageSeparator {
    margin-top: 2em;
    margin-bottom: 2em;
}

#portfolioBody {
    margin-left: 1em;
    margin-right: 1em;
}

.portfolioPageLinkBox {
    position: relative;
    width: 100%;
    height: 5em;
    margin-bottom: 1em;

    border-color: rgba(255, 255, 255, 0.5);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.portfolioPageLinkBoxOverlayTint {
    background-color: rgba(0, 0, 0, 0.667);
    background-blend-mode: multiply;
    /* transition: 50ms ease-in-out; */
}

.portfolioPageLinkBoxOverlayTint:hover {
    background-color: rgba(0, 0, 0, 0.333);
    /* transition: 50ms ease-in-out; */
}

.portfolioPageLink, .portfolioPageLink:visited {
    text-decoration: none;
    text-shadow: 2px 2px 5px black;
    color: #e69547; /* peru, but a tad brighter for contrast with the background images */
}

.portfolioPageLink:hover {
    color: white;
}

.portfolioPageLinkYear {
    font-size: 250%;
    /* opacity: 0.5; */
    position: absolute;
    top: 16px;
    right: 8px;
}

.portfolioPageLinkTitle {
    position: relative;
    left: 10px;
    top: 12px;
    font-size: 133%;
}

.portfolioPageLinkMiniDescription {
    position: absolute;
    left: 20px;
    bottom: 16px;
    /* opacity: 0.5; */
}

.horizontallyCenterChild {
    display: flex;
    justify-content: center;
}

.portfolioTextElement {
    line-height: 150%;
    text-align: justify;
}

.portfolioMediaContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.portfolioMedia {
    border: 1px solid color-mix(in srgb, peru, transparent);
    margin: 8px;
    max-height: 320px;
    max-width: 90%;
}

.portfolioMediaNoMaxHeight {
    border: 1px solid color-mix(in srgb, peru, transparent);
    margin: 8px;
    /* max-height: 320px; */
    max-width: 90%;
}

.portfolioMediaSubtext {
    /* color: rgba(255, 255, 255, 0.5); */
    text-align: center;
    margin: 0.5em 2em 2em 2em;
    font-style: italic;
    /* font-size: 80%;
    font-weight: bold; */
}

.portfolioProjectInfoTable {
    margin-left: 2em;
}

.portfolioProjectInfoTableLabel {
    font-weight: normal;
    text-align: left;
    vertical-align: top;
    color: peru;
    padding: 4px;
    padding-right: 2em;
}

.portfolioProjectInfoTableContent {
    padding: 4px;
}

.portfolioProjectInfoTableContentList {
    margin: 0;
    padding-left: 15px;
}

.portfolioProjectInfoTableContentListItem {
    margin: 0;
}

.portfolioCodeContainer {
    border: 1px solid grey;
    border-radius: 4px;
    background-color: color-mix(in srgb, black, transparent);
    padding: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}

code {
    font-family: monospace;
    font-size: 11pt;
    /* color: cornflowerblue; */
    color: #AAA;
    background: #00000020;
    border: 1px solid #FFFFFF20;
    border-radius: 4px;
    padding: 1px 4px 1px 4px ;
}

.portfolioCodeParagraph {
    font-family: monospace;
    color: grey;
    margin: 0;
    white-space: preserve;
    overflow-wrap: break-word;  /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_text/Wrapping_breaking_text */
}

.portfolioYouTubeEmbed {
    border: 1px solid peru;
}